.productContainer > span:first-child{
    background: #DB4444;
border-radius: 4px;
    font-size: 12px;
line-height: 18px;
padding: 4px 12px;
color: #FAFAFA;
}

.productContainer> p{
    color: #DB4444;
}

.productContainer> span:last-child{
    color: #000000;
    font-size: 14px;
opacity: 0.5;
}