.productContainer > span:first-child{
    background: #DB4444;
border-radius: 4px;
    font-size: 12px;
line-height: 18px;
padding: 4px 12px;
color: #FAFAFA;
}

.price{
    color: #000000;
}

.productImg{
width: clamp(145px, 10vh, 300px);
object-fit: scale-down;
}
.addToBasketBtn{
    color: #FAFAFA;
    background-color: #000000;
    border: none;
    padding: 0px 70px;
    display: none;
}


.productContainer:hover > .addToBasketBtn{
    display: block;
    transform: translateY(-129px);
    transition: 2s;
}

.wishlistBtn,
.deleteFromWishlistBtn{
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
}

@media (min-width: 375px) and (max-width: 450px){
    .productContainer{
        margin: 0.7rem 0;
    }
}