

.productContainer > span:first-child{
    background: #DB4444;
border-radius: 4px;
    font-size: 12px;
line-height: 18px;
padding: 4px 12px;
color: #FAFAFA;
}



.price{
    color: #000000;
}

.addToCartBtn{
    color: #FAFAFA;
    background-color: #000000;
    border: none;
    padding: 0px 70px;
    display: none;
}

/* .productContainer__firstBlock{
    margin-top: 5px;
    padding: 30px;
    background-color: #d0cbcb4c;
} */

.productContainer:hover > .addToCartBtn{
    display: block;
    transform: translateY(-129px);
    transition: 2s;
}

.wishlistBtn{
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
}

