body{
    margin-top: 4rem;
}
.firstSection {
    display: flex;
}
aside{
    display: flex;
    flex: 0 1 20%;

}

aside > nav{
    padding-right: 2rem;
    border-right: 2px solid #c3c3c3;
}


.firstSection__lastBlock{
    margin-left: 1rem;
    flex: 1 1 auto;
    color: #fff;
    background: url('https://www.apple.com/newsroom/images/product/iphone/standard/Apple-iPhone-14-Pro-iPhone-14-Pro-Max-hero-220907.jpg.landing-big_2x.jpg') no-repeat 20% 80%;
    background-size: cover;
    padding: 30px 1050px 10px 10px
}

.firstSection__lastBlock > span{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FAFAFA;
}

.firstSection__lastBlock > h2{
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.04em;
    color: #FAFAFA;
}

.secondSection,
.thirdSection,
.fifthSection{
    margin: 2rem;
}
.secondSection > h4,
.thirdSection > h4,
.fifthSection > h4,
.sixthSection > h4{
    color: #DB4444;

}

.secondSection > h4::before{
    content: '';
    position: absolute;
    left: 1%;
    width: 20px;
    height: 35px;
    border-radius: 4px;
    background-color: #DB4444;
}

.secondSection > h3,
.thirdSection > h3,
.fifthSection > h3,
.sixthSection > h3{
    font-size: 36px;
line-height: 48px;
font-weight: 500;
letter-spacing: 0.04em;
}

.secondSection__timer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.secondSection__timer > span:nth-child(even){
    color: #DB4444;
    font-weight: 700;
}

.productsContainer,
.bestSellingProductsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.bestSellingProductsContainer{
    align-items: baseline;
}

.thirdSection > h4::before{
    content: '';
    position: absolute;
    left: 1%;
    width: 20px;
    height: 35px;
    border-radius: 4px;
    background-color: #DB4444;
}

.fourthSection{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding: 4rem 2rem;
    background-color: #141313;
}

.fourthSection__firstBlock{
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 30%;
    align-content: space-evenly;
    color: #fff;
}

.fourthSection > img{
    filter: drop-shadow(10px 10px 45px rgb(220, 217, 217));
}

.fourthSection__firstBlock > h4{
    color: #10e967;
}

.fifthSection > h4::before{
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 35px;
    margin-left: 1rem;
    border-radius: 4px;
    background-color: #DB4444;
}

.fourthSection__firstBlock > button{
    background: #0ce462;
border-radius: 4px;
border: none;
color:#FAFAFA;
padding: 16px 48px;
}
.otherProductsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.otherProductsContainer__firstBlock,
.otherProductsContainer__secondBlock{

    display: flex;
align-items: center;

justify-content: space-between;
}

.otherProductsContainer__firstBlock > div ,
.otherProductsContainer__secondBlock > div{
margin: 2rem;
}

.sixthSection__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

.sixthSection > h4::before{
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 35px;
    margin-left: 1rem;
    border-radius: 4px;
    background-color: #DB4444;
}

.sixthSection > h4{
    margin-left: 2rem;
}

.container__firstBlock{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
    color: #efe9e9;
    flex: 0 1 50%;
    border-radius: 4px;
    background-color: #000000;

}

.container__firstBlock > img{
    width: 50%;
}

.container__secondBlock{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.secondBlock__item1,
.item2__firstBlock,
.item2__secondBlock{
    border-radius: 4px;
    padding: 1rem;
    color: #efe9e9;
    background-color: #000000;
}

.secondBlock__item2{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.item2__firstBlock,
.item2__secondBlock{
    padding:1rem 0.5rem;
}

.item2__firstBlock{
    margin-top: 1rem;
}

.item2__secondBlock{
    padding-top: 2.1rem;
}

.seventhSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.seventhSection__box{
display: flex;
flex-flow: column nowrap;
align-items: center;
}

.seventhSection__box > img{
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 0px 10px #686868;
}