.aboutUsFirstSection{
    display: flex;
    align-items: center;
    margin: 2rem;
    justify-content: space-around;
}

.aboutUsFirstSection__container{
    flex: 0 1 40%;
}

.aboutUsSecondSection__container{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.aboutUsSecondSection__container_item{
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    padding: 1rem;
}

.aboutUsSecondSection__container_item > span{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.aboutUsSecondSection__container_item > img{
    background-color: #000;
    width: 70px;
    align-self: center;
    padding: 1rem;
    border-radius: 3px;
}
/* .aboutUsSecondSection__container_item:nth-child(2) > img{

    width: 100px;
    align-self: self-start;
    padding: 1rem; */

/* } */