
a{
    text-decoration: none;
    color: #e8dede;

}

footer{
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 33.333%;
    background-color: #181717;
    color: #e9e1e1;

}

.supportBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.accountBlock{
    display: flex;
    flex-direction: column;
}

.accountBlock > h3,
.linksBlock > h3{
    margin-left: 2.5rem;
}