.billinDetails__container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}

.billinDetails__container form{
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
}

form > input{
    background-color: #8a8a8a1d;
    border: none;
    padding: 5px;
}

form > label{
    color: #868686;
    font-size: 12px;
}

form > button{
    margin: 1rem 0;
    background-color: #ef2929;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fafafa;
}

 .cartItems {
    /* width: 200px;
    height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
 }