.loginSection{
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin: 0 0 2rem;
}

.loginSection > img{
    width: 500px;
}

.loginSection__block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loginSection__block > h2{
    font-weight: 700;
}

.loginSection__block > input{
    border: none;
    border-bottom: 1px solid gray;
}

.loginSection__block > button{
    background-color: #DB4444;
    border: none;
    color: #fafafa;
    font-weight: 300;
    border-radius: 3px;
    padding: 10px 20px;
}
